<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>403</error-code>
		<location>/accessDenied.xhtml</location>
	</error-page>

	<error-page>
		<exception-type>com.blazebit.security.PermissionException</exception-type>
		<location>/error.xhtml</location>
	</error-page>

	<error-page>
		<exception-type>com.blazebit.security.PermissionActionException</exception-type>
		<location>/error.xhtml</location>
	</error-page>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Main</web-resource-name>
			<url-pattern>/main/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Core</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Carrier</web-resource-name>
			<url-pattern>/demo/Carrier/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Carrier</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Core</web-resource-name>
			<url-pattern>/demo/Core/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Core</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>DM</web-resource-name>
			<url-pattern>/demo/DM/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>DM</role-name>
		</auth-constraint>
	</security-constraint>
	
	<!-- Security roles referenced by this web application -->
	<security-role>
		<role-name>Core</role-name>
	</security-role>
	<security-role>
		<role-name>DM</role-name>
	</security-role>
	<security-role>
		<role-name>Carrier</role-name>
	</security-role>
	
<!-- 	<servlet> -->
<!-- 		<servlet-name>AServlet</servlet-name> -->
<!-- 		<security-role-ref> -->
<!-- 			<role-name>Carrier</role-name> -->
<!-- 			<role-link>Carrier2</role-link> -->
<!-- 		</security-role-ref> -->
<!-- 	</servlet> -->
</web-app>
